save-exact = true
registry = https://registry.npmjs.org/
@ones:registry = https://npm.partner.ones.ai/registry/
@ones-design:registry = https://npm.partner.ones.ai/registry/
@ones-op:registry = https://npm.partner.ones.ai/registry/
