platform:
  address: tcp://120.76.45.123:9006
local:
  id: "11769608"
  language: nodejs
  debug_mode: false
  timeout_sec: 30
  organization_uuid: 5N6W3noj
  team_uuid: 6eKY74St
  web_service_port: "3000"
  web_service_ip: ""
  user_uuid: SMS8ciyv
  token: 6cabYg1IwwTSpE5njCgL9a6wHLZQUbQ2SBjpwG40D70zDjZnkOqmp1R61HyaKujF
  log_in_local: false
  file_in_local: false
  mysql_in_local: false
  mysql_user_name: ""
  mysql_user_password: ""
  mysql_database_name: ""
  mysql_host: ""
  mysql_port: ""
